.comment-body {
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    // padding-top: 3%;
    // font-family: sans-serif;
    // font-size: 110%;
    // font-weight: bold;
}

.comment-index {
    display: flex;
    flex-direction: column;
    padding-top: 3%;
    height: 100%;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
}

.comment-form {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-family: sans-serif;
    flex-direction: column;
    background-color: white;
    // border: 1px solid rgb(222, 224, 225);
    // border-radius: 4px;
    // box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    // // margin: 1% auto;
    // padding: 1%;
    // width: 50%;
    // // padding-left: 20px;
    // // padding-right: 20px;
    // // padding-top: 1px;
    // box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    // margin-top: 8px;
    // min-height: 100px;
    // height: fit-content;
    // padding-bottom: 10px;
    border: 1px solid rgb(222, 224, 225);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    margin: 1% auto;
    // padding: 1%;
    width: 40%;
    padding-left: 2%;
    padding-right: 1%;
    // padding-top: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    margin-top: 8px;
    min-height: 100px;
    height: fit-content;
    padding-bottom: 1%;
}

.comment-form-block{
    display: flex;
    justify-content: center;
}


.comment-form-textarea {
    display: flex;
    // background-color: white;
    // padding-top: 3%;
    // font-family: sans-serif;
    // font-size: 110%;
    // font-weight: bold;
    // font-family: sans-serif;
    // background-color: white;
    // border: 1px solid rgb(222, 224, 225);
    // border-radius: 4px;
    // box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;
    // margin: 1% auto;
    // // padding: 1%;
    width: 100%;
    // padding-left: 10%;
    // padding-right: 1%;
    // padding-top: 1px;
    // box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    // margin-top: 8px;
    min-height: 100px;
    height: fit-content;
    // padding-bottom: 10px;
}

.comment-line {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px #e2e2e2 solid;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(226, 226, 226);
    width: 150%;
}

.comment-form-buttons {
    display: flex;
    // justify-content: center;
}

.comment-create-button {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 14px;
    height: 38px;
    padding: 0px 20px;
    background-color: #6495ed;
    position: relative;
    border-width: 0px;
    color: #fff;
    border-radius: 1000px;
    margin-top: 3%;
}

.comment-delete-button {
    display: flex;
    // justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 14px;
    height: 38px;
    padding: 0px 20px;
    background-color: rgb(185, 43, 39);
    // position: relative;
    border-width: 0px;
    color: #fff;
    border-radius: 1000px;
    margin-top: 3%;
}

.delete-button-block {
    display: flex;
    justify-content: flex-end;
}