.comment-body {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-top: 3%;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
}

// .comment-index-list{
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
// }

.comment-index {
    display: flex;
    padding-top: 3%;
    font-family: sans-serif;
    font-size: 110%;
    font-weight: bold;
}

