.post-index-splash {
    display: flex;
    justify-content: center;
    background-color: lightgray;
    height: 94vh;
    overflow: auto;
}

.post-index-list {
    display: flex;
    justify-content: center;
}

.post-list {
    display: inline-block;
    justify-content: center;
    background-color: white;
    width: 600px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    margin-top: 8px;
}

.post-list-item {
    background-color: white;
    width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.04);
    margin-top: 8px;
    min-height: 100px;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 10px;
}