.login-page {
    display: flex;
    background-image: asset-url("login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
}

.user-auth-container {
    display: flex;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.project-logo {
    display: flex;
    justify-content: center;
    text-align: center;
    // align-items: flex-start;
    // position: relative;
    font-size: 60px;
    font-weight: bold;
    color: rgb(185, 43, 39);
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.tagline {
    display: flex;
    position: relative;
    line-height: 1.0;
    color: #636466;
    font-weight: bold;
}