.login-page {
    display: flex;
    background-image: asset-url("login.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 100%;
    height: 650px;
    margin: 0 auto;
    overflow: hidden;
}

.user-auth-container {
    display: flex;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
}